@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-spotify-green-a: #1ed760;
  --color-spotify-green-b: #1fdf64;
  --color-spotify-subdued: #a7a7a7;
  --color-decorative-subdued: #292929;
  --color-footer-foreground: rgb(179, 179, 179);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Circular, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
